# Mark Dart code
lib/** linguist-language=Dart

# Mark C++ code (you must have cpp files in this folder)
native/cpp/** linguist-language=C++

# Mark Objective-C code
ios/Classes/** linguist-language=Objective-C

# Allow YAML & JSON config to count
*.yaml linguist-detectable=true
*.json linguist-detectable=true
*.xml linguist-detectable=true
