# Ignore native folders
ios/** linguist-vendored
android/** linguist-vendored
windows/** linguist-vendored
build/** linguist-vendored

# Allow limited C++
*.cpp linguist-language=C++
*.h linguist-language=C++

# Dart focus
lib/** linguist-language=Dart
test/** linguist-language=Dart
*.dart linguist-language=Dart
